<form method="POST" action="/dinosaurs">
    <label for="dinosaurType">Type</label>
                                        <!-- "type" is the key -->
    <input id="dinosaurType" type="text" name="type">
  
    <label for="dinosaurName">Name</label>
                                        <!-- "name" is the key -->
    <input id="dinosaurName" type="text" name="name">
  
    <input type="submit">
</form>